@using Admin.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Logging

@using Admin.Shared.Dtos
@using System.IO

 
@using Newtonsoft.Json 

@inject HttpClient Http
@inject IJSRuntime JSRuntime

@inject ILogger<TopicForm> Logger

<div class="alert alert-secondary mt-4" role="alert">    
    <EditForm OnValidSubmit="HandleValidSubmit" Model="TopicModel">
        <h3> @Title </h3>
        <hr />

        <ValidationSummary />
        <div class="form-group row">
            <label for="id" class="col-sm-2 col-form-label">
                Topic ID:
            </label>
            <div class="col-sm-10">
                <InputNumber id="id" class="form-control" placeholder="Auto Generated ID" disabled="true"
                             @bind-Value="TopicModel.Id" />
                <ValidationMessage For="@(() => TopicModel.Id)" />
            </div>
        </div>
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">
                Title
            </label>
            <div class="col-sm-10">
                <InputText id="title" class="form-control" placeholder="Title"
                           @bind-Value="TopicModel.Title" />
                <ValidationMessage For="@(() => TopicModel.Title)" />
            </div>
        </div>


        <div class="form-group row">
            <label for="description" class="col-sm-4 col-form-label">
                Is Also a Paper 3 Topic?:
            </label>
            <div class="col-sm-8">
                <InputCheckbox id="isp3" class="form-control" placeholder="Paper year"
                               @bind-Value="TopicModel.IsAlsoP3Topic" />
                <ValidationMessage For="@(() => TopicModel.IsAlsoP3Topic)" />
            </div>
        </div>

        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">
                Topic Num:
            </label>
            <div class="col-sm-10">
                <InputNumber id="description" class="form-control" placeholder="Paper year"
                             @bind-Value="TopicModel.TopicNum" />
                <ValidationMessage For="@(() => TopicModel.TopicNum)" />
            </div>
        </div>
        @if (!isToBeEdited)
        {


            @if (isLoading)
            {
                <LoadingSpinner />
            }
            else
            {
                <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">
                        Examination:
                    </label>
                    <div class="col-sm-8">
                        <select value="@examId" @onchange="OnChangeExamination">
                            <option value="0">Select Examination</option>
                            @foreach (var exam in Examinations)
                            {
                                <option value="@exam.ExamId">@exam.ExamTitle</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">
                        Subject: <b>@TopicModel.SubjectId</b>
                    </label>
                    <div class="col-sm-8">

                        <InputSelectNumber ValueChanged="@((int subId) => SubjectHasChanged(subId))"
                                           ValueExpression="@(() => subjectId)" Value="@subjectId">
                            <option value="0">Select Subject</option>
                            @foreach (var subject in Subjects)
                            {
                                <option value="@subject.SubjectId">@subject.SubjectTitle</option>
                            }
                        </InputSelectNumber>
                        <ValidationMessage For="@(() => TopicModel.SubjectId)" />
                    </div>
                </div>


            }
        }


        <div style="display: flex; align-items: center">
            <button class="btn btn-primary" type="submit" style="margin: auto">Submit</button>
        </div>
    </EditForm>

</div>


@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public bool isToBeEdited { get; set; }

    [Parameter] public Topic TopicModel { get; set; }

    public List<McqPastPaperFormDto> Examinations { get; set; } = new List<McqPastPaperFormDto>();
    public List<McqSubjectFormDto> Subjects { get; set; } = new List<McqSubjectFormDto>();


    public string ExamTitle { get; set; } = string.Empty;

    public string examId { get; set; } = "0";
    private int subjectId { get; set; } = 0;
    public bool isLoading { get; set; }


    [Parameter]
    public EventCallback<Topic> OnTopicFormEditSubmit { get; set; }


    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        try
        {
            Examinations = await Http.GetFromJsonAsync<List<McqPastPaperFormDto>>("api/ExamSubjects");

        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

        isLoading = false;

    }

    private void OnChangeExamination(ChangeEventArgs e)
    {

        LoadSubjects(e.Value.ToString());

    }
    private void SubjectHasChanged(int subjectId)
    {
        TopicModel.SubjectId = subjectId;
    }

    public async Task HandleValidSubmit()
    {

        await OnTopicFormEditSubmit.InvokeAsync(TopicModel);
    }


    private void LoadSubjects(string examId)
    {
        Subjects = new List<McqSubjectFormDto>();

        foreach (var exam in Examinations)
        {
            if (exam.ExamId == examId)
            {
                Subjects = exam.McqSubjects;
                return;
            }
        }
    }
    
}

